<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TipCalculatorEntities" connectionString="metadata=res://*/Model.tipcalculator.csdl|res://*/Model.tipcalculator.ssdl|res://*/Model.tipcalculator.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=TipCalculator;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>