@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>New Tab</title>
</head>
<body>
    <div id="itemToFind">
        This is the inner text @ViewBag.InstanceCount
    </div>
</body>
</html>
